* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #222222; */
  /* color: white; */
}

.DarkMode {
  transition: all 0.25s linear;
  background-color: #222222;
}
.WhiteMode {
  transition: all 0.25s linear;
  background-color: white;
}
